@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Neris Thin';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris Thin'), url('../fonts/Neris-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Neris Light';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris Light'), url('../fonts/Neris-Light.woff') format('woff');
}

@font-face {
    font-family: 'Neris SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris SemiBold'), url('../fonts/Neris-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Neris Black';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris Black'), url('../fonts/Neris-Black.woff') format('woff');
}

* {
    font-family: 'Inter';
    color: #212121;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

h2 {
    font-size: 36px;
    font-family: 'Neris SemiBold';
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

::-webkit-scrollbar {
    width: 4px;
    background: #C9C9C999;
}

::-webkit-scrollbar-thumb {
    background: #024702;
}

ul, li {
    list-style: none;
}

header {
    max-width: 1824px;
    margin: auto;
    padding: 24px 12px;
}

header .top_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

header .top_block .menu ul {
    display: flex;
    gap: 32px;
    font-weight: 300;
    font-size: 18px;
}

header .top_block .right_btns {
    display: flex;
    align-items: center;
    gap: 16px;
}

header .location a {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
}

.btn_default {
    font-size: 20px;
    font-weight: 600;
    color: #024702;
    padding: 16px 30px;
    border: 1px solid #024702;
    border-radius: 8px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}

.btn_default:hover{
    background: #024702;
    color: #FFF;
}

.btn_green {
    background: #024702;
    color: #F8F8F8;
    padding: 10px 38px;
    border-radius: 8px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    display: block;
    width: fit-content;
    cursor: pointer;
    border: 1px solid  #024702;
}

.btn_green:hover {
    color: #024702;
    background: #FFF;

}

header .bottom_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .bottom_block .left_block {
    display: flex;
    align-items: center;
    gap: 24px;
}

.head__catalog_menu {
    position: relative;
}

.dropdown_catalog {
    display: none;
    position: absolute;
    left: 150px;
    transform: translate(-50%, 0px);
    border-radius: 20px;
    z-index: 3;
}

.btn_catalog {
    background: #024702;
    padding: 17px 30px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    border: 1px solid #024702;
    display: block;
}

.btn_catalog span {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}

.btn_catalog:hover span {
    color: #024702;
}

.btn_catalog:hover {
    background: #FFF;
}

.btn_catalog:hover path {
    fill: #024702;
}

.head__search {
    min-width: 698px;
    position: relative;
}

.head__search input {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
}

.head__search button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0px, -50%);
    background: none;
    border: none;
    cursor: pointer;
}

.head__links {
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 15px;
}

.head__links a {
    display: flex;
    gap: 6px;
    align-items: center;
}

.head__catalog_menu:hover .dropdown_catalog {
    display: block;
}

.callback_block_messengers {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.menu_catalog_link {
    width: 460px;
    border: 1px solid #C9C9C999;
    border-radius: 20px;
    position: relative;
    padding: 28px 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFF;
}

.menu_catalog_link::-webkit-scrollbar {
    width: 0;
}

.cert_catalog {
    width: 100%;
    display: flex;
    align-items: center;
    background: #F1F6F7;
    gap: 10px;
    padding: 14px 26px;
    border-radius: 20px;
    max-width: 394px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 12px;
}

.cert_catalog span {
    font-family: 'Neris SemiBold';
}

.menu_catalog_link>ul>li {
    padding: 0 12px;
}

.menu_catalog_link>ul>li a {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 26px 14px;
    width: 410px;
    gap: 10px;
    border-radius: 20px;
}

.menu_catalog_link>ul>li a:hover {
    background: #F8F8F8;
}

.menu_catalog_link>ul>li:hover .dropdown_catalog_content {
    display: block;
}

.dropdown_catalog_content {
    width: calc(1540px - 460px);
    border: 1px solid #C9C9C999;
    border-radius: 20px;
    margin-left: -15px;
    left: 460px;
    top: 0px;
    padding-left: 54px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    height: calc(100% + 1px);
    position: fixed;
    display: none;
    overflow: auto;
    padding-top: 40px;
    row-gap: 40px;
}

.dropdown_catalog_content li.parent_link>a {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 16px;
    width: fit-content;
    padding-top: 0;
}

.dropdown_catalog_content .children_link a {
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 8px;
}

.dropdown_catalog_content a:hover {
    background: none !important;
}

.dropdown_catalog_content .children_link {
    max-height: 115px;
    display: block;
    overflow: hidden;
    transition: 0.3s;
}

.dropdown_catalog_content .children_link.show {
    max-height: fit-content;
    max-height: 250px;
}

.menu_catalog_link>ul>li.open .dropdown_catalog_content {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
    background: #FFF;
}

.menu_catalog_link>ul>li.open .dropdown_catalog_content>ul {
    max-width: 250px;
    height: fit-content;
}

.show_more_link_menu {
    font-size: 18px;
    font-weight: 300;
    color: #8D8D8D;
    border-bottom: 1px solid #C9C9C999;
    width: fit-content;
    padding-bottom: 2px;
    cursor: pointer;
}

.main {
    max-width: 1620px;
    margin: auto;
    padding: 0 12px;
}

.main_slide {
    max-height: 355px;
    position: relative;
}

.main_slide .swiper-slide {
    background-repeat: no-repeat !important;
    border-radius: 20px;
}

.main_slide .left_text {
    padding-left: 67px;
    padding-top: 90px;
    padding-bottom: 51px;
}

.main_slide .left_text .title {
    font-size: 48px;
    font-weight: 600;
    max-width: 695px;
    font-family: 'Neris SemiBold';
    padding-bottom: 72px;
    line-height: 100%;
}

.main_slide .swiper-slide {
    background-repeat: no-repeat !important;
    background-position: right, 72% !important;
}

.main_slide .swiper-slide-prev {
    opacity: 0.5;
}

.main_slide .btn_green {
    font-size: 20px;
    font-family: "Neris SemiBold";
}

.main_slide .btn_prev {
    position: absolute;
    top: 50%;
    left: -95px;
    transform: translate(0px, -50%);
    z-index: 2;
    cursor: pointer;
}

.main_slide .btn_next {
    position: absolute;
    top: 50%;
    right: -95px;
    transform: translate(0px, -50%);
    z-index: 2;
    cursor: pointer;
}

.main_tabs {
    padding: 100px 0;
}

.main_tabs .title {
    font-size: 36px;
    font-family: 'Neris SemiBold';
    max-width: 1065px;
}

.tabs_products .tabs_container ul {
    display: flex;
    gap: 16px;
}

.tabs_products .tabs_container {
    margin: 50px 0;
}

.tabs_products .tabs_container li {
    font-size: 20px;
    font-weight: 500;
    padding: 14px 43px;
    border: 1px solid #C9C9C999;
    border-radius: 7px;
    transition: 0.2s;
    cursor: pointer;
}

.tabs_products .tabs_container li.active,
.tabs_products .tabs_container li:hover {
    background: #024702;
    color: #FFF;
}

.grid_2 {
    display: grid
;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.grid_3 {
    display: grid
;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.grid_5 {
    display: grid
;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.product {
    border: 1px solid #F0F0F0;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px #4A4A4A40;
    position: relative;
    overflow: hidden;
}

.sticker.bestsellers {
    background: #DA0916;
    width: fit-content;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 8px 16px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.sticker.bestsellers span {
    color: #FFF;
}

.product .add_favorites {
    position: absolute;
    top: 27px;
    right: 24px;
}

.product img {
    margin: auto;
    text-align: center;
    display: block;
}

.product_images {
    padding-top: 71px;
    background: #F1F6F7;
    padding-bottom: 16px;
}

.product .prices_block {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.product .prices_block .discount {
    background: #FFEC17;
    padding: 6px 11px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.product .prices_block .price {
    font-size: 30px;
    font-weight: 700;
}

.product .prices_block .old_price {
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    text-decoration: line-through;
}

.product .name {
    padding: 0 16px;
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.info_count {
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 4px;
    align-items: center;
}

.info_count.count_many span {
    color: #024702;
}

.info_count.count_few span {
    color: #DA0916;
}

.info_count.count_few svg path {
    fill: #DA0916;
}

.product .add_in_basket>span {
    color: #024702;
}

.product .add_in_basket .in_basketed {
    display: none;
}

.product .add_in_basket {
    font-size: 20px;
    font-weight: 600;
    margin: 0 16px;
    border: 1px solid #024702;
    border-radius: 8px;
    transition: 0.2s;
    padding: 16px;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: block;
    margin-bottom: 24px;
    background: #FFF;
    border: 1px solid #024702;
    transition: 0.2s;
}

.product .add_in_basket:hover {
    color: #FFF;
    background: #024702;
}

.product .add_in_basket:hover>span {
    color: #FFF;
}

.product .add_in_basket .in_basketed.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product .add_in_basket .in_basketed span {
    color: #FFF;
    font-size: 16px;
}

.product .add_in_basket .in_basketed .input_count {
    display: flex;
    width: 69px;
}

.product .add_in_basket .in_basketed .input_count input[type="text"] {
    max-width: 100%;
    width: 50px;
    background: none;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.product .add_in_basket.no_active {
    background: #024702;
    color: #FFFF;
}

.main_popular_category {
    display: grid
;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
}

.main_popular_category .big_block a {
    height: 328px;
    width: 100%;
    display: block;
    border-radius: 20px;
    border: 1px solid #C9C9C999;
    padding: 24px;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.main_popular_category .big_block a .title {
    font-size: 26px;
    font-weight: 600;
    width: 30%;
    font-family: 'Manrope';
}

.main_popular_category .small_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    grid-template-rows: 152px;
}

.main_popular_category .small_block a {
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    padding: 16px;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.main_popular_category .small_block a .title {
    font-size: 16px;
    font-weight: 600;
}

.main_popular_category .small_block a:nth-child(2) .title {
    width: 70%;
}

.main_popular_category .small_block a:nth-child(3) {
    grid-column: span 2;
}

.main_popular_category .small_block.reverse a:nth-child(1) {
    grid-column: span 2;
}

.main_popular_category .small_block.reverse a:nth-child(3) {
    grid-column: span 1;
}

.main_popular_category .small_block.reverse a:nth-child(1) .title {
    width: 35%;
}

.popular_category_list {
    grid-column: span 3;
    margin-top: 33px;
}

.popular_category_list ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.popular_category_list ul .img {
    width: 150px;
    height: 150px;
    border: 1px solid #C9C9C999;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
}

.popular_category_list ul .title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    max-width: 148px;
}

.main_popular_category>.title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Neris SemiBold';
    grid-column: span 3;
    margin-bottom: 40px;
}

.main_stocks {
    padding: 100px 0;
}

.main_stocks .title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Neris SemiBold';
    margin-bottom: 62px;
}

.main_stocks .item {
    padding: 262px 40px 40px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px #00000040;
}

.main_stocks .item .name {
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 8px;
    font-family: 'Neris SemiBold';
}

.main_stocks .item span {
    font-size: 18px;
}

.main_stocks .grid_2 {
    margin-bottom: 50px;
}

.max_width_theme {
    max-width: 1620px;
    padding: 0px 12px;
    margin: auto;
}

footer {
    position: relative;
}

footer>svg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

footer .top_block {
    border-bottom: 1px solid #21212145;
    padding-bottom: 15px;
    display: inline-block;
    width: 100%;
}

footer .top_block .col {
    width: 25%;
    float: left;
}

footer .top_block .col .title {
    font-size: 20px;
    font-family: 'Neris Light';
}

.btn_up {
    display: flex;
    width: fit-content;
    float: right;
    gap: 8px
}

.btn_up .name {
    font-size: 16px;
    font-weight: 300;
}

footer .bottom_block {
    display: inline-block;
    width: 100%;
}

footer .bottom_block .menu {
    width: 25%;
    float: left;
    padding-top: 30px;
}

footer .bottom_block .menu ul {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

footer .bottom_block .menu ul a,
footer .bottom_block .contacts ul a {
    font-size: 18px;
    font-family: 'Neris Light';
}

footer .bottom_block .contacts {
    float: left;
    padding-top: 30px;
}

footer .bottom_block .contacts ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .info_block {
    padding-top: 82px;
    display: inline-block;
    width: 100%;
    padding-bottom: 27px;
}

footer .info_block .left_block {
    float: left;
    width: 25%;
}

footer .info_block .left_block p {
    margin-top: 4px;
    font-size: 16px;
    font-family: 'Neris Light';
}

footer .info_block .left_block p span {
    font-size: 14px;
    font-family: 'Neris Light';
}

footer .info_block .right_block {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .info_block .right_block {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .info_block .right_block a {
    font-size: 16px;
    font-family: 'Neris Light';
}

.breadcrumb ul {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 50px;
}

.breadcrumb ul li a {
    font-size: 18px;
    font-weight: 300;
}

.breadcrumb ul li:not(a) {
    font-size: 18px;
    font-weight: 300;
    color: #024702;
}

.catalog_list {
    display: grid
;
    grid-template-columns: repeat(6, auto);
    gap: 24px;
    padding-bottom: 50px;
}

.catalog_list .big_block a {
    padding: 24px;
    height: 100%;
    display: block;
    border-radius: 20px;
    border: 1px solid #C9C9C999;
    background-position: right bottom !important;
    background-repeat: no-repeat !important;
}

.catalog_list .big_block a p {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Manrope';
    max-width: 176px;
}

.catalog_list .big_block {
    grid-column: span 2;
    grid-row: span 2;
}

.catalog_list .small_block ,
.catalog_list .long_block {
    height: 152px;
}

.catalog_list .small_block {
    width: 250px;
}

.catalog_list .small_block a,
.catalog_list .long_block a{
    padding: 16px;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    height: 100%;
    display: block;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.catalog_list .long_block {
    grid-column: span 2;
}

.catalog_list .long_block .name,
.catalog_list .small_block .name {
    font-size: 16px;
    font-weight: 600;
    max-width: 152px;
}

.catalog_list .big_block.with_img p {
    color: #FFF;
    font-size: 32px;
    max-width: 200px;
}

.products_container .left_block {
    width: 387px;
}

.page_title {
    font-size: 36px;
    font-family: 'Neris Semibold';
}

.products_container .page_title {
    margin-bottom: 65px;
}

.products_container .filter {
    padding: 32px 24px;
    border: 1px solid #C9C9C999;
    border-radius: 20px;
}

.products_container .filter .top_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.products_container .filter .top_block .title {
    font-size: 26px;
    font-weight: 600;
}

.products_container .filter .top_block .btn_default {
    font-size: 18px;
    font-weight: 300;
    padding: 10px 26px;
}

.filter_price .name {
    font-size: 20px;
    font-family: 'Neris SemiBold';
    margin-bottom: 24px;
}

.filter_price .item {
    display: flex;
    flex-wrap: wrap;
}

.filter_price .item .inputs {
    display: grid
;
    grid-template-columns: 1fr 1fr;
    gap: 19px;
    margin-bottom: 10px;
}

.filter_price .item .inputs {
    display: grid
;
    grid-template-columns: 1fr 1fr;
    gap: 19px;
    margin-bottom: 20px;
    width: 100%;
}

.filter_price .item .inputs input[type="text"] {
    width: 100%;
    border: 1px solid #E2E2E2;
    border-radius: 7px;
    padding: 10px 29px;
}

.price_bar {
    height: 2px;
    width: 100%;
    background: #C9C9C999;
    position: relative;
}

.range_price {
    position: relative;
    width: 100%;
}

.range_price_slider {
    position: relative;
    width: 100%;
}

.range_price_slider .left {
    width: 20px;
    height: 20px;
    background: #024702;
    position: absolute;
    top: 50%;
    display: block;
    border-radius: 100%;
    transform: translate(0px, -50%);
}

.range_price_slider .right {
    width: 20px;
    height: 20px;
    background: #024702;
    position: absolute;
    top: 50%;
    left: 200px;
    display: block;
    border-radius: 100%;
    transform: translate(0px, -50%);
}

.price_bar:after {
    content: '';
    background: #024702;
    width: 200px;
    display: block;
    height: 2px;
}

.filter_price {
    margin-bottom: 24px;
    padding-bottom: 34px;
    border-bottom: 1px solid #E2E2E2;
}

.filter_category .name {
    font-size: 20px;
    font-family: 'Neris SemiBold';
    margin-bottom: 24px;
}

.filter_category ul {
    max-height: 253px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    padding: 5px 0;
}

.filter_category ul a {
    padding: 10px 16px;
    border: 1px solid #C9C9C999;
    display: block;
    width: fit-content;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 300;
}

.filter_category ul a span {
    color: #C9C9C9;
}

.filter_category ul a.active {
    background: #C9C9C999;
}

.filter_search {
    padding-top: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E2E2E2;
    border-top: 1px solid #E2E2E2;
}


.filter_search input[type="text"] {
    width: 100%;
    border: 1px solid #C9C9C999;
    padding: 17px 20px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 300;
}

.filter_search form {
    position: relative;
}

.filter_search form button {
    background: none;
    border: 0;
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translate(0px, -50%);
}

.products_container .filter .btn_green {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
}

.products_container {
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 26px;
}

.sort_block {
    display: flex;
    gap: 61px;
}

.sort_block .sort .sort_dropdown {
    display: none;
    position: absolute;
    top: 55px;
    border: 1px solid #E2E2E2;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.sort_block .sort .sort_dropdown li a,
.page_count_element .sort_dropdown a {
    padding: 10px 30px;
    display: block;
    width: 100%;
    background: #FFF;
}

.sort_block .sort>a {
    padding: 16px 24px;
    border: 1px solid #E2E2E2;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 37px;
}

.page_count_element {
    display: flex;
    gap: 34px;
    align-items: center;
    position: relative;
}

.page_count_element .sort_dropdown {
    display: none;
    position: absolute;
    top: 50px;
    border: 1px solid #E2E2E2;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    right: 0;
    width: 83px;
}

.sort_block .sort .sort_dropdown li a:hover, .page_count_element .sort_dropdown a:hover {
    background: #D9D9D9;
}

.page_count_element>a {
    border: 1px solid #E2E2E2;
    border-radius: 7px;
    padding: 10px 16px;
    display: flex;
    gap: 16px;
    font-size: 18px;
    font-weight: 300;
}

.page_count_element .name {
    font-family: 'Neris SemiBold';
}

.sort_block .sort {
    position: relative;
}

.products_container .right_block .top_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.display_view_mode .active {
    background: #024702;

}

.display_view_mode a {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.display_view_mode {
    display: flex;
    gap: 8px;
    align-items: center;
}

.display_view_mode a:not(.active) {
    background: #F5F5F5;
}

.products_list .bottom_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.products_list .bottom_btns .pagination {
    display: flex;
    align-items: center;
    gap: 24px;
}

.products_list .bottom_btns .pagination ul {
    display: flex;
    gap: 16px;
}

.products_list .bottom_btns .pagination ul a {
    border: 1px solid #C9C9C999;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
}

.products_list .bottom_btns .pagination ul .dots {
    display: flex;
    align-items: flex-end;
}

.products_list .bottom_btns .pagination ul a.active {
    background: #024702;
    color: #FFF;
}

.products_list .show_more .btn_default {
    padding: 14px 19px;
}

.accordion li {
    padding: 21px 50px;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.accordion .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    font-family: 'Neris SemiBold';
}

.accordion .content {
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
    display: none;
}

.accordion .content p {
    margin-bottom: 16px;
}

.accordion li svg {
    transition: 0.2s;
}

.accordion li.active svg {
    transform: rotate(180deg);
}

.page_stocks .top_block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.page_stocks .top_block .left_block {
    max-width: 465px;
}

.page_stocks .top_block .left_block .desc {
    font-size: 18px;
    font-weight: 300;
    margin-top: 16px;
}

.category_stocks ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.category_stocks ul a {
    font-size: 18px;
    font-weight: 300;
}

.category_stocks ul a.active {
    padding: 15px 23px;
    background: #024702;
    border-radius: 100px;
    color: #FFF;
}

.list_stocks {
    margin-top: 50px;
    margin-bottom: 100px;
}

.list_stocks .item {
    height: 404px;
    padding: 30px 40px;
    box-shadow: 0px 4px 10px 0px #00000040;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

.list_stocks .item.small_block .name {
    font-size: 36px;
    font-family: 'Neris SemiBold';
    line-height: 100%;
    margin-bottom: 8px;
}

.list_stocks .item.small_block .text {
    font-size: 18px;
    font-weight: 400;
}

.list_stocks .grid_3 {
    gap: 24px;
    margin-bottom: 24px;
}

.list_stocks .big_block .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 24px;
}

.list_stocks .big_block .item .name {
    font-size: 64px;
    font-family: 'Neris SemiBold';
    line-height: 100%;
    margin-bottom: 8px;
}

.list_stocks .big_block .item .text {
    font-size: 32px;
}

.list_stocks .middle_block.item .name {
    font-size: 36px;
    font-family: 'Neris SemiBold';
    margin-bottom: 8px;
}

.list_stocks .middle_block.item .text {
    font-size: 18px;
    font-weight: 400;
}

.list_stocks .btn_default {
    padding: 14px 22px;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

.about:before {
    content: '';
    background-image: url("../img/нижний%20элемент%201.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
}

.about {
    padding: 32px 57px;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    display: grid
;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    row-gap: 50px;
    position: relative;
    margin-bottom: 100px;
}

.about .title {
    font-size: 26px;
    font-family: 'Neris SemiBold';
    margin-bottom: 16px;
}

.about .text {
    font-size: 18px;
    font-weight: 300;
}

.about a {
    font-size: 20px;
    color: #024702;
    text-decoration: underline;
}

.partners .info_block {
    position: relative;
    padding: 32px 57px 77px;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    display: grid
;
    grid-template-columns: auto auto;
    gap: 51px;
}

.partners .info_block:before {
    content: '';
    background-image: url("../img/нижний%20элемент%201.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 350px;
    height: 213px;
    z-index: -1;
    opacity: 0.2;
    bottom: 0;
    left: 5%;
}

.partners .info_block .title {
    font-size: 26px;
    font-family: 'Neris SemiBold';
    margin-bottom: 16px;
}

.partners .info_block .text {
    font-size: 18px;
    font-weight: 300;
}

.partners .info_block .item:first-child {
    max-width: 452px;
}

.partners .form_block {
    position: relative;
    padding: 64px 140px;
    border-radius: 20px;
    overflow: hidden;
    margin: 100px 0;
}

.partners .form_block:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #024702;
    z-index: -2;
}

.partners .form_block:before {
    content: '';
    background-image: url("../img/нижний%20элемент%201.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    bottom: 0;
    right: 0;
    background-position: right;
}

.partners .form_block .title {
    font-size: 36px;
    font-family: 'Neris SemiBold';
    color: #FFF;
    margin-bottom: 24px;
}

.partners .form_block .text {
    font-size: 18px;
    color: #FFF;
    font-weight: 300;
    margin-bottom: 24px;
}

.partners .form_block form {
    max-width: 1064px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.partners .form_block form input[type="text"] {
    padding: 16px 26px;
    border-radius: 6px;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}

.input_soc {
    width: 416px;
}

.select .dropdown_select {
    display: none;
}

.select {
    position: relative;
}

.select p {
    padding: 16px 26px;
    background: #FFF;
    border-radius: 6px;
    color: #595959;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select .dropdown_select {
    display: none;
    position: absolute;
    border: 1px solid #E2E2E2;
    width: 100%;
    top: 65px;
    background: #FFF;
    border-radius: 7px;
}

.select .dropdown_select li {
    padding: 15px 29px;
    font-weight: 300;
    font-size: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.select .dropdown_select li:hover {
    background: #C9C9C999;
}

.partners .form_block input[type="submit"] {
    background: #FFF;
    border: 0;
    padding: 14px 52px;
    border-radius: 8px;
    font-size: 20px;
    color: #024702;
    font-family: 'Neris SemiBold';
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #FFF;
    line-height: 100%;
}

.partners .form_block input[type="submit"]:hover {
    background: #024702;
    color: #FFF;
}

.partners .form_block .submit span {
    font-size: 18px;
    font-weight: 300;
    margin-left: 8px;
    max-width: 243px;
    display: block;
    color: #FFF;
}

.partners .form_block .submit span a {
    font-weight: 600;
    color: #FFF;
}

.partners .form_block form .submit {
    display: flex;
    align-items: center;
}

.news-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 100px;
}

.news-list .item {
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.news-list .item .left_block {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 275px;
    box-sizing: content-box;
}

.news-list .item .left_block .date {
    color: #212121B2;
    font-weight: 600;
}

.news-list .item .left_block .title {
    font-size: 26px;
    font-family: 'Neris SemiBold';
}

.news-list .item .text {
    max-width: 578px;
    display: flex;
    align-items: flex-end;
    padding: 24px;
}

.news-list .item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.news-list .btn_default {
    padding: 14px 22px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

.news_detail {
    max-width: 1264px;
    margin-bottom: 100px;
}

.news_detail .page_title {
    margin-bottom: 16px;
}

.news_detail .date {
    font-size: 20px;
    font-weight: 500;
}

.news_detail .top_block {
    margin-bottom: 100px;
}

.news_detail h4 {
    font-size: 26px;
    font-family: 'Neris SemiBold';
    margin-bottom: 16px;
}

.news_detail .content p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 24px;
}

.news_detail .content img {
    border-radius: 20px;
    margin-bottom: 24px;
}

.detail_news_slider_img .swiper-slide-next {
    transform: scaleX(1.6);
}

.detail_news_slider_img .swiper-slide-next img {
    object-fit: contain !important;
    border-radius: 20px;
    transform: scaleY(1.6);
}

.detail_news_slider_img .swiper-slide {
    display: flex;
    transition: 0.2s;
    border-radius: 20px;
    overflow: hidden;
}

.detail_news_slider_img .swiper-slide.visible:not(.swiper-slide-active) {
    display: flex;
    justify-content: flex-end;
}

.detail_news_slider_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.detail_news_slider_img .swiper-slide:not(.swiper-slide-next) img {
    width: 266px;
}

.detail_news_slider_img {
    overflow: hidden;
    height: 407px;
}

.detail_news_slider_img .swiper-slide-next+.swiper-slide {
    display: flex;
    justify-content: flex-end;
}

.contacts .top_block {
    display: flex
;
    justify-content: space-between;
}

.contacts .top_block .items {
    display: flex;
    gap: 40px;
}

.contacts .top_block .items .info {
    display: flex;
    gap: 16px;
}

.contacts .top_block .items .info svg {
    width: 28px;
    display: block;
    height: 28px;
}

.contacts .top_block .items .info path {
    fill: #B8B8B8;
}

.contacts .top_block .items .info p {
    color: #B8B8B8;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 16px;
}

.contacts .top_block .items .info a {
    font-size: 26px;
    font-family: 'Neris Semibold';
}

.dropdown_route {
    position: relative;
    transition: 0.2s;
}

.dropdown_route:hover ul {
    display: block;
}

.dropdown_route:hover .btn_green {
    color: #024702;
    background: #FFF;
}

.dropdown_route .btn_green {
    font-size: 20px;
    font-weight: 600;
}

.dropdown_route ul {
    position: absolute;
    top: 56px;
    border: 1px solid #E2E2E2;
    width: 100%;
    border-radius: 7px;
    background: #FFF;
    z-index: 1;
    display: none;
}

.dropdown_route ul a {
    gap: 10px;
    display: block;
    width: 100%;
    padding: 19px 11px;
    border-bottom: 1px solid #C9C9C999;
    display: flex
;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.dropdown_route ul li:last-child a {
    border-bottom: 0;
}

.dropdown_route ul a:hover {
    background: #C9C9C999;
}

.contacts .map {
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
    overflow: hidden;
}

.modal_cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 470px;
    box-shadow: 0px 0px 4.1px 0px #00000026;
    height: 100%;
    background: #FFF;
    z-index: 999;
    border-radius: 20px;
    display: none;
}

.popup_cart {
    overflow: auto;
    height: 100%;
    padding-bottom: 75px;
}

.popup_cart .top_block {
    padding: 24px 18px 18px 24px;
    display: flex
;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.popup_cart .top_block .title {
    font-size: 26px;
    font-family: 'Neris SemiBold';
}

.popup_cart .top_block .btn_default {
    font-size: 16px;
    font-weight: 300;
    padding: 5px 11px;
    border-radius: 4px;
}

.popup_cart .close_modal {
    cursor: pointer;
}

.popup_cart .products_block .item {
    padding: 10px;
    border: 1px solid #C9C9C999;
    margin: 24px 18px 15px 24px;
    border-radius: 10px;
    display: grid;
    gap: 16px;
    grid-template-columns: auto auto auto;
}

.popup_cart .products_block .item .left_block {
    max-width: 119px;
}

.popup_cart .products_block .item .img {
    padding: 10px;
    background: #F1F6F7;
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 8px;
}

.popup_cart .products_block .item .count_item {
    border: 1px solid #C9C9C999;
    border-radius: 6px;
    height: 27px;
    display: flex
;
    justify-content: center;
    gap: 24px;
    align-items: center;
    line-height: 100%;
}

.popup_cart .products_block .item .count_item input {
    max-width: 100%;
    border: 0;
    text-align: center;
}

.popup_cart .products_block .item .count_item .amount {
    width: 20px;
}

.popup_cart .products_block .item .price_block {
    gap: 8px;
    display: flex
;
    align-items: center;
}

.popup_cart .products_block .item .price_block .discount {
    font-size: 14px;
    font-weight: 500;
    padding: 2.5px 12px;
    background: #FFEC17;
    border-radius: 20px;
}

.popup_cart .products_block .item .price_block .price {
    font-size: 18px;
    font-weight: 700;
}

.popup_cart .products_block .item .price_block .old_price {
    color: #999999;
    font-size: 12px;
    font-weight: 600;
    text-decoration: line-through;
}

.popup_cart .products_block .item .name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    display: block;
}

.popup_cart .buy_block {
    padding: 24px 18px 18px 24px;
}

.popup_cart .buy_block .item {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.popup_cart .buy_block .btn_green {
    padding: 14px;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 16px;
}

.popup_cart .buy_block .btn_default {
    padding: 14px;
}

.overlay {
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.no-overflow {
    overflow: hidden;
}