@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Neris Thin';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris Thin'), url('../fonts/Neris-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Neris Light';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris Light'), url('../fonts/Neris-Light.woff') format('woff');
}


@font-face {
    font-family: 'Neris SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris SemiBold'), url('../fonts/Neris-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Neris Black';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Neris Black'), url('../fonts/Neris-Black.woff') format('woff');
}

* {
    font-family: 'Inter';
    color: #212121;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    overflow-x: hidden;
}

ul, li {
    list-style: none;
}

header {
    max-width: 1824px;
    margin: auto;
    padding: 24px 12px;
}

header .top_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

header .top_block .menu ul {
    display: flex;
    gap: 32px;
    font-weight: 300;
    font-size: 18px;
}

header .top_block .right_btns {
    display: flex
;
    align-items: center;
    gap: 16px;
}

header .location a {
    display: flex
;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
}

.btn_default {
    font-size: 20px;
    font-weight: 600;
    color: #024702;
    padding: 16px 30px;
    border: 1px solid #024702;
    border-radius: 8px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}

.btn_default:hover{
    background: #024702;
    color: #FFF;
}

.btn_green {
    background: #024702;
    color: #F8F8F8;
    padding: 10px 38px;
    border-radius: 8px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    display: block;
    width: fit-content;
}

.btn_default:before,
.btn_catalog:before,
.btn_green:before {
    content: ""; /* отображает псевдоэлемент */
    position: absolute; /* абсолютное позиционирование */
    top: 0; /* верхняя координата */
    left: 0; /* левая координата */
    width: 2em; /* относительная ширина */
    height: 100%; /* высота как у оригинала */
    background-color: rgba(255, 255, 255, 0.3); /* белый цвет с полупрозрачностью */
    transform: translateX(-4em) skewX(-45deg);
}

.btn_default:hover:before,
.btn_catalog:hover:before,
.btn_green:hover:before {
    animation: moveLight 0.5s;
}

@keyframes moveLight {
    from {
        transform: translateX(-4em) skewX(-45deg);
    }
    to {
        transform: translateX(12em) skewX(-45deg);
    }
}

header .bottom_block {
    display: flex
;
    align-items: center;
    justify-content: space-between;
}

header .bottom_block .left_block {
    display: flex
;
    align-items: center;
    gap: 24px;
}

.dropdown_catalog {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    width: 1540px;
    border-radius: 20px;
    z-index: 3;
}

.btn_catalog {
    background: #024702;
    padding: 17px 30px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    border: 1px solid #024702;
    display: block;
}

.btn_catalog span {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}

.btn_catalog:hover span {
    color: #024702;
}

.btn_catalog:hover {
    background: #FFF;
}

.btn_catalog:hover path {
    fill: #024702;
}

.head__search {
    min-width: 698px;
    position: relative;
}

.head__search input {
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
}

.head__search button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0px, -50%);
    background: none;
    border: none;
    cursor: pointer;
}

.head__links {
    font-size: 18px;
    font-weight: 300;
    display: flex
;
    align-items: center;
    gap: 15px;
}

.head__links a {
    display: flex
;
    gap: 6px;
    align-items: center;
}

.head__catalog_menu:hover .dropdown_catalog {
    display: block;
}

.menu_catalog_link {
    width: 460px;
    border: 1px solid #C9C9C999;
    border-radius: 20px;
    position: relative;
    padding: 28px 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFF;
}

.menu_catalog_link::-webkit-scrollbar {
    width: 0;
}

.cert_catalog {
    width: 100%;
    display: flex;
    align-items: center;
    background: #F1F6F7;
    gap: 10px;
    padding: 14px 26px;
    border-radius: 20px;
    max-width: 394px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 12px;
}

.cert_catalog span {
    font-family: 'Neris SemiBold';
}

.menu_catalog_link>ul>li {
    padding: 0 12px;
}

.menu_catalog_link>ul>li a {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 26px 14px;
    width: 410px;
    gap: 10px;
    border-radius: 20px;
}

.menu_catalog_link>ul>li a:hover {
    background: #F8F8F8;
}

.menu_catalog_link>ul>li:hover .dropdown_catalog_content {
    display: block;
}

.dropdown_catalog_content {
    width: calc(1540px - 460px);
    border: 1px solid #C9C9C999;
    border-radius: 20px;
    margin-left: -15px;
    left: 460px;
    top: 0px;
    padding-left: 54px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    height: calc(100% + 1px);
    position: fixed;
    display: none;
    overflow: auto;
    padding-top: 40px;
    row-gap: 40px;
}

.dropdown_catalog_content li.parent_link>a {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 16px;
    width: fit-content;
    padding-top: 0;
}

.dropdown_catalog_content .children_link a {
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 8px;
}

.dropdown_catalog_content a:hover {
    background: none !important;
}

.dropdown_catalog_content .children_link {
    max-height: 115px;
    display: block;
    overflow: hidden;
    transition: 0.3s;
}

.dropdown_catalog_content .children_link.show {
    max-height: fit-content;
    max-height: 250px;
}

.menu_catalog_link>ul>li.open .dropdown_catalog_content {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;
    background: #FFF;
}

.menu_catalog_link>ul>li.open .dropdown_catalog_content>ul {
    max-width: 250px;
    height: fit-content;
}

.show_more_link_menu {
    font-size: 18px;
    font-weight: 300;
    color: #8D8D8D;
    border-bottom: 1px solid #C9C9C999;
    width: fit-content;
    padding-bottom: 2px;
    cursor: pointer;
}

.main {
    max-width: 1620px;
    margin: auto;
    padding: 0 12px;
}

.main_slide {
    max-height: 355px;
    position: relative;
}

.main_slide .swiper-slide {
    background-repeat: no-repeat !important;
    border-radius: 20px;
}

.main_slide .left_text {
    padding-left: 67px;
    padding-top: 90px;
    padding-bottom: 51px;
}

.main_slide .left_text .title {
    font-size: 48px;
    font-weight: 600;
    max-width: 695px;
    font-family: 'Neris SemiBold';
    padding-bottom: 72px;
    line-height: 100%;
}

.main_slide .swiper-slide {
    background-repeat: no-repeat !important;
    background-position: right, 72% !important;
}

.main_slide .swiper-slide-prev {
    opacity: 0.5;
}

.main_slide .btn_green {
    font-size: 20px;
    font-family: "Neris SemiBold";
}

.main_slide .btn_prev {
    position: absolute;
    top: 50%;
    left: -95px;
    transform: translate(0px, -50%);
    z-index: 2;
    cursor: pointer;
}

.main_slide .btn_next {
    position: absolute;
    top: 50%;
    right: -95px;
    transform: translate(0px, -50%);
    z-index: 2;
    cursor: pointer;
}

.main_tabs {
    padding: 100px 0;
}

.main_tabs .title {
    font-size: 36px;
    font-family: 'Neris SemiBold';
    max-width: 1065px;
}

.tabs_products .tabs_container ul {
    display: flex
;
    gap: 16px;
}

.tabs_products .tabs_container {
    margin: 50px 0;
}

.tabs_products .tabs_container li {
    font-size: 20px;
    font-weight: 500;
    padding: 14px 43px;
    border: 1px solid #C9C9C999;
    border-radius: 7px;
    transition: 0.2s;
    cursor: pointer;
}

.tabs_products .tabs_container li.active,
.tabs_products .tabs_container li:hover {
    background: #024702;
    color: #FFF;
}

.grid_2 {
    display: grid
;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.grid_5 {
    display: grid
;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.product {
    border: 1px solid #F0F0F0;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px #4A4A4A40;
    position: relative;
}

.sticker.bestsellers {
    background: #DA0916;
    width: fit-content;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 8px 16px;
    border-radius: 7px;
    display: flex
;
    align-items: center;
    gap: 6px;
}

.sticker.bestsellers span {
    color: #FFF;
}

.product .add_favorites {
    position: absolute;
    top: 27px;
    right: 24px;
}

.product img {
    margin: auto;
    text-align: center;
    display: block;
}

.product_images {
    padding-top: 71px;
    background: #F1F6F7;
    padding-bottom: 16px;
}

.product .prices_block {
    padding: 16px;
    display: flex
;
    align-items: center;
    gap: 8px;
}

.product .prices_block .discount {
    background: #FFEC17;
    padding: 6px 11px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.product .prices_block .price {
    font-size: 30px;
    font-weight: 700;
}

.product .prices_block .old_price {
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    text-decoration: line-through;
}

.product .name {
    padding: 0 16px;
    display: block;
    font-size: 18px;
    font-weight: 500;
}

.info_count {
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 4px;
    align-items: center;
}

.info_count.count_many span {
    color: #024702;
}

.info_count.count_few span {
    color: #DA0916;
}

.info_count.count_few svg path {
    fill: #DA0916;
}

.product .add_in_basket {
    font-size: 20px;
    font-weight: 600;
    margin: 0 16px;
    background: #024702;
    border: 1px solid #024702;
    border-radius: 8px;
    transition: 0.2s;
}

.product .add_in_basket>span {
    color: #FFF;
}

.product .add_in_basket .in_basketed {
    display: none;
}

.product .add_in_basket {
    font-size: 20px;
    font-weight: 600;
    margin: 0 16px;
    background: #024702;
    border: 1px solid #024702;
    border-radius: 8px;
    transition: 0.2s;
    padding: 16px;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: block;
    margin-bottom: 24px;
}

.product .add_in_basket:hover {
    color: #024702;
    background: #FFF;
}

.product .add_in_basket:hover>span {
    color: #024702;
}

.product .add_in_basket .in_basketed.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product .add_in_basket .in_basketed span {
    color: #FFF;
    font-size: 16px;
}

.product .add_in_basket .in_basketed .input_count {
    display: flex
;
    width: 69px;
}

.product .add_in_basket .in_basketed .input_count input[type="text"] {
    max-width: 100%;
    width: 50px;
    background: none;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.product .add_in_basket.no_active {
    background: #024702;
    color: #FFFF;
}

.main_popular_category {
    display: grid
;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 22px;
}

.main_popular_category .big_block a {
    height: 328px;
    width: 100%;
    display: block;
    border-radius: 20px;
    border: 1px solid #C9C9C999;
    padding: 24px;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.main_popular_category .big_block a .title {
    font-size: 26px;
    font-weight: 600;
    width: 30%;
    font-family: 'Manrope';
}

.main_popular_category .small_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    grid-template-rows: 152px;
}

.main_popular_category .small_block a {
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    padding: 16px;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

.main_popular_category .small_block a .title {
    font-size: 16px;
    font-weight: 600;
}

.main_popular_category .small_block a:nth-child(2) .title {
    width: 70%;
}

.main_popular_category .small_block a:nth-child(3) {
    grid-column: span 2;
}

.main_popular_category .small_block.reverse a:nth-child(1) {
    grid-column: span 2;
}

.main_popular_category .small_block.reverse a:nth-child(3) {
    grid-column: span 1;
}

.main_popular_category .small_block.reverse a:nth-child(1) .title {
    width: 35%;
}

.popular_category_list {
    grid-column: span 3;
    margin-top: 33px;
}

.popular_category_list ul {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.popular_category_list ul .img {
    width: 150px;
    height: 150px;
    border: 1px solid #C9C9C999;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8F8F8;
}

.popular_category_list ul .title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
    max-width: 148px;
}

.main_popular_category>.title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Neris SemiBold';
    grid-column: span 3;
    margin-bottom: 40px;
}

.main_stocks {
    padding: 100px 0;
}

.main_stocks .title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Neris SemiBold';
    margin-bottom: 62px;
}

.main_stocks .item {
    padding: 262px 40px 40px;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px #00000040;
}

.main_stocks .item .name {
    font-size: 36px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 8px;
    font-family: 'Neris SemiBold';
}

.main_stocks .item span {
    font-size: 18px;
}

.main_stocks .grid_2 {
    margin-bottom: 50px;
}